.header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90px;
  background-color: rgb(166, 141, 141);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: larger;
  font-size: 2rem;

  color: #333;
  padding-left: 20px;
}

.title span {
  color: rgb(187, 28, 28);
}

.userName {
  font-size: larger;
  font-size: 2rem;
  color: #333;
  padding-right: 20px;
}
